body 
{
    background-color: white;
}

.timer
{
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size: x-large;
    text-align: center;
}


button
{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    background-color: rgb(104, 103, 181);
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}
button:hover{
    color:#DDDDDD;
    border-color:rgb(228, 216, 223)
}
button:active{
    color:#BBBBBB;
    border-color:rgb(228, 216, 223);
}